--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.0.1
transformers==4.31.0
datasets==2.14.3
evaluate==0.4.0
uvicorn[standard]==0.23.2
fastapi==0.100.1
aiofiles==23.1.0
python_multipart==0.0.6
seqeval==1.2.2